/* @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css); */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);



.korepytecje-title{
    text-align: center;
    font-size: 45px;
    margin: 0 0 0 20px;
    color: #222;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.korepytecje-title-mail{
    text-align: center;
    font-size: 30px;
    margin: 30px 0 0 20px;
    color: #222;
    font-weight: bold;
    
    font-family: 'Lato', sans-serif;
}

.korepetycje-icon{
  width: 55px;
  height: 55px;
}

.korepetycje-flex{
    margin: 30px auto 0;
    width: min-content;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.korepytecje-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}


.korepytecje-content>div{    
    font-size: 26px;
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

@media (max-width: 700px){
  
  .korepetycje-icon{
    width: 44px;
    height: 44px;
  }

  .korepytecje-title{
    font-size: 35px;
    margin: 0 0 0 10px;

  }
  
  
  .korepytecje-title-mail{
    font-size: 20px;
    
  }

  .korepetycje{
    margin-bottom: 30px;
  }

  .korepytecje-content>div{
    font-size: 15px;
}
}

@media (max-width: 900px){
    /* .korepytecje-title{
        font-size: 40px;
    } */
    .korepytecje-content>div{
        font-size: 17px;
    }
}






.snip1214 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #000000;
  text-align: center;
  display: block;
  font-size: 16px;
  width: 90%;
  height: 400px;
  max-width: 1000px;
  margin: 70px auto 10px;
}
.snip1214 .plan {
  margin: 0 0 20px;
  width: 33%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.snip1214 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1214 header {
  position: relative;
}
.snip1214 .plan-title {
  position: relative;
  top: 0;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  display: inline-block;
  background-color: #333;
  color: #ffffff;
  text-transform: uppercase;
}
.snip1214 .plan-cost {
  padding: 0px 10px 20px;
}
.snip1214 .plan-price {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 800;
  font-size: 2.4em;
  color: #222;
}
.snip1214 .plan-type {
  opacity: 0.6;
}
.snip1214 .plan-features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
}
.snip1214 .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%;
}
.snip1214 .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}
.snip1214 .plan-features i {
  margin-right: 8px;
  opacity: 0.4;
}
.snip1214 .plan-select {
  border-top: 1px solid #d2d7e2;
  padding: 10px 10px 0;
}

.snip1214 .plan-select a:hover{
  background-color: #ddd;
  transition: 0.15s;
  color: #222;
}

.snip1214 .plan-select a {
  transition: 0.15s;

  background-color: #333;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}

.snip1214 .featured {
  margin-top: -10px;
  background-color: #222;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.snip1214 .featured .plan-title,
.snip1214 .featured .plan-price {
  color: #ffffff;
}
.snip1214 .featured .plan-cost {
  padding: 10px 10px 20px;
}
.snip1214 .featured .plan-features li {
  border-top: 1px solid #333;
}
.snip1214 .featured .plan-select {
  padding: 20px 10px 0;
  border-top: 1px solid #333;
}
@media only screen and (max-width: 767px) {
  .snip1214 .plan {
    width: 50%;
  }
  .snip1214 .plan-title,
  .snip1214 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1214 .plan-cost,
  .snip1214 .featured .plan-cost {
    padding: 20px 10px 20px;
  }
  .snip1214 .plan-select,
  .snip1214 .featured .plan-select {
    padding: 10px 10px 10px;
  }
  .snip1214 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1214 .plan {
    width: 100%;
  }
}

