
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');


.home-title{
    text-align: center;
    font-size: 45px;
    margin: 30px 0 0;
    color: #111;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.home-title-little{
    text-align: center;
    font-size: 35px;
    margin: 30px 0 0;
    color: #111;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.home-content{
    /* border: 1px solid black; */
    /* padding: 25px 0; */
    padding: 15px;
    margin: 50px auto 0;
    width: 45%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}




.my-block{
    border: #333 3px solid;
    width: min-content;
    margin: 20px auto;
    padding: 0 20px;
    border-radius: 20px;
}



.home-logo{
    width: 250px;
    height: 250px;
    border: 10px solid #111;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.33); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.33);
    padding: 30px;
    border-radius: 30px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.home-logo > div{
    width: 35px;
    height: 100%;
    background-color: #111;

}


.home-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.home-img{
    width: 250px;
    height: 250px;
    /* border: 1px solid #111; */
    margin: 50px auto 0;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.33); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.33);
    border-radius: 30px;
}

.home-img.one{
    background: url('./images/example.png') center/100% 100% no-repeat;
}
.home-img.two{
    background: url('./images/example2.png') center/100% 100% no-repeat;
}

@media (max-width: 865px){
    .home-flex{
        flex-direction: column;
        margin: 10px auto;
    }
    .home-flex.active{
        flex-direction: column-reverse;
    }
    .home-content{
        width: 75%;
        margin: 15px auto 0;
        padding: 10px 0;
    }
    .home-title{
        margin: 10px auto 0;
    }
    .home-title-little{
        margin: 15px auto 0;

    }

}


@media (max-width: 700px){

    .home-content{
        width: 85%;
        font-size: 15px;
    }

    .home-title{
        font-size: 32px;
        margin: 10px auto;

    }

    .home-title-little{
        font-size: 26px;
        margin: 10px auto;

    }


    .home-logo{
        width: 300px;
        height: 300px;
        border: 7px solid #111;
        padding: 30px;
    }


    .home-logo > div{
        width: 40px;
        height: 100%;
        background-color: #111;
    
    }
}

@media (max-width: 400px){
    .home-logo{
        width: 200px;
        height: 200px;
        border: 7px solid #111;
        padding: 20px;
    }

    .home-logo > div{
        width: 25px;
    }

    .home-img{
        width: 200px;
        height: 200px;
    }

}