/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

.home{
    margin: 70px 0 0 250px;
}



.home-intro{
    /* overflow:auto; */
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 100px 0 100px;
    position: relative;
    margin: 0;
    background-color: #111;
    border-bottom: 1px solid #333;
}

.home-section{
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 100px 0 100px;
    position: relative;
    margin: 0;
    background-color: #111;
    border-bottom: 1px solid #333;
}

.home-section-flex{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.home-section-nummber_info{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.home-section-nummber_info-number{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.home-section-nummber_info-text{
    font-size: 17px;
    color: #aaa;
    font-family: 'Montserrat', sans-serif;
}

.home-section-content-flex{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* border: 1px solid white; */
    /* justify-content: space-between; */
    width: 350px;
}

.home-section-content-title{
    margin: 0 0 20px;
    font-size: 29px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.home-section-content-text{
    font-size: 17px;
    color: #aaa;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 800;
    /* width: 330px; */
    width: 100%;
    /* border: 1px solid white; */
    padding: 0 10px;
    text-align: left;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.home-intro-autor{
    word-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    line-height: 1;
    margin: 0 0 0 90px;
    /* border: 1px solid white; */
    /* text-align: justify; */
    text-justify: inter-word;
    font-size: 30px;
    color: #aaa;
    font-family: 'Montserrat', sans-serif;
}

.home-intro-title{
    word-spacing: 8px;
    width: 90%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    line-height: 1.1;
    margin: 0 0 50px 50px;
    /* border: 1px solid white; */
    /* text-align: justify; */
    text-justify: inter-word;
    font-size: 70px;
    color: white;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}








@media (max-width: 1150px){
    .home{
        margin: 70px 0 0;
    }

    .home-intro-title{
        font-size: 55px;
         margin: 0 20px 20px 20px;
        
    }

    .home-intro-autor{
        margin: 50px 0 0 40px;
    }
    

    .home-section-flex.content-section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .home-section-content-flex{
        width: 90%;
        margin: 40px auto;
    }

    .home-section-content-text{
        text-align: center;
        /* border: 1px solid white; */
    }

    .home-intro-autor{
        font-size: 28px;
    }
}





@media (max-width: 732px){
    
    .home-section-flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .home-intro-title{
        font-size: 45px;
    }

    .home-section-nummber_info{
        margin: 20px auto;        
    }

    .home-intro{
        padding: 50px 0 50px;
    }

    .home-section{
        padding: 20px 0 20px;
    }

    .home-intro-autor{
        font-size: 24px;
    }

    .home-section-content-text{
        text-align: left;
        /* border: 1px solid white; */
    }

}



@media (max-width: 500px){
    .home-intro-title{
        font-size: 35px;
    }

    .home-section-nummber_info-number{
        font-size: 70px;
    }

    .home-section-nummber_info-text{
        text-align: center;
    }

    .home-intro-autor{
        font-size: 20px;
    }
   

}