@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

.navbar{
    height: 70px;
    width: 100vw;
    background-color:#111111;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    /* -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.33); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.33); */
    z-index: 90;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.9); 
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.9);
}

.navbar-logo{
    font-size: 40px;
    margin: auto 0 auto 20px;
    color:#f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}

.navbar-menu{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin: auto 20px auto 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.navbar-menu-element{
    color:#f2f2f2;
    font-size: 18px;
    margin: 0 10px;
    transition: 0.1s;
    cursor: pointer;
}

.navbar-menu-element:hover{
    color:#666;
    transition: 0.1s;
}

.css-trick{
    width: 60px;
    height: 60px;
    background-color:#111111;
    position: fixed;
    top: 70px;
    left: 250px;
    z-index: 92;
}

.css-trick-2{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: -100;
    top: 0px;
    left: 0px;
    opacity: 1;
    background-color: #fff;
    border-radius: 250px 0 0 0;
}

.navbar-logo-III{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32px;
    height: 31px;
    margin: auto 10px auto 0;
    cursor: pointer;
}

.navbar-logo-III div{
    width: 5px;
    height: 31px;
    background: #f2f2f2;
}

.navbar-burger{
    display: none;
}


.response-menu{
    display: none;
}

@media (max-width: 1150px){
    .navbar-menu{
        display: none;
    }


    .css-trick{
        display: none;
    }

    .css-trick-2{
        display: none;
    }

    
    
    .navbar-burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 23px;
        margin: auto 40px auto;
        cursor: pointer;
        transition: 0.1s;
    }

    .navbar-burger > div{
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #f2f2f2;
    }

    .navbar-burger:hover{
        transition: 0.1s;
        width: 35px;
    }

    .navbar-burger:active{
        transition: 0.1s;
        height: 35px;
    }

/*  Responsive menu */

    .response-menu.active{
        display: none;
    }

    .response-menu{
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        position: fixed;
        top: 70px;
        background-color: #111;
        width: 100vw;
        height: calc(100vh - 70px);
        z-index: 1000;
    }

    .response-menu-line{
        width: 100%;
        background-color: #444;
        height: 1px;
        margin: 30px auto 0;
    }

    .response-menu-my_menu{
        margin: 30px auto 0;
        width: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .response-menu-my_menu-element{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #f2f2f2;
        font-size: 18px;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.1s;
    }

    .response-menu-my_menu-element:hover{
        color: #666;
        transition: 0.1s;
    }

}



@media (max-width: 900px){
    .navbar-logo{
        font-size: 30px;
    }

    .navbar-logo-III{
        width: 26px;
        height: 25px;
    }
    
    .navbar-logo-III div{
        width: 4px;
        height: 25px;
        background: #f2f2f2;
    }


}