/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

.navbar{
    height: 70px;
    width: 100vw;
    background-color:#111111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #333;
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 90;
}

.navbar-logo{
    font-size: 35px;
    margin: auto 0 auto 20px;
    color:#f2f2f2;
    /* border: 1px solid white; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-menu{
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto 20px auto 0;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.navbar-menu-element{
    color:#f2f2f2;
    font-size: 18px;
    margin: 0 10px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer;
}

.navbar-menu-element:hover{
    color:#666;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.navbar-menu-element.active{
    border-left: 2px solid #333;
    padding-left: 20px;
}

.css-trick{
    width: 60px;
    height: 60px;
    background-color:#111111;
    position: fixed;
    top: 70px;
    left: 250px;
    z-index: 92;
}

.css-trick-2{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: -100;
    top: 0px;
    left: 0px;
    opacity: 1;
    background-color: #fff;
    border-radius: 250px 0 0 0;
}

.navbar-logo-III{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 33px;
    height: 31px;
    margin: auto 10px auto 0;
    cursor: pointer;
}

.navbar-logo-III div{
    width: 7px;
    height: 31px;
    background: #f2f2f2;
}

.navbar-burger{
    display: none;
}


.response-menu{
    display: none;
}


@media (max-width: 1150px){

    .respons-sidebar-icon{
        display: block;
        left: 0;
        top: 0;
        margin: 0 20px 0 0;
        /* border: 1px solid red; */
        -webkit-transform: translateY(15%);
            -ms-transform: translateY(15%);
                transform: translateY(15%);
    }

    .navbar-menu{
        display: none;
    }
    
    .navbar-burger{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 30px;
        height: 23px;
        margin: auto 40px auto 0;
        cursor: pointer;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }
    /* 
    .navbar-burger-elements{
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #f2f2f2;
    } */

    .navbar-burger-elements-first{
        width: 100%;
        height: 5px;
        border-radius: 10px 10px 0 0;
        background-color: #f2f2f2;
    }


    .navbar-burger-elements-last{
        width: 100%;
        height: 5px;
        border-radius: 0 0 10px 10px;
        background-color: #f2f2f2;
    }

    .navbar-burger-elements-middle{
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #f2f2f2;
    }

    .navbar-burger:hover{
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
        width: 35px;
    }

    .navbar-burger:active{
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
        height: 35px;
    }

/*  Responsive menu */

    .response-menu.active{
        display: none;
    }

    .response-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-y: scroll;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        top: 70px;
        background-color: #111;
        width: 100vw;
        height: calc(100vh - 70px);
        z-index: 1000;
    }

    .response-menu-my_menu-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }

    .response-menu-line{
        width: 100%;
        /* background-color: #444; */
        border-bottom: 1px solid #333;
        height: 1px;
        margin: 30px auto 0;
    }

    .response-menu-my_menu{
        margin: 30px 0 30px 10vw;
        width: 200px;
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

    }

    .response-menu-my_menu-element{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #f2f2f2;
        font-size: 18px;
        margin: 10px 0;
        cursor: pointer;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .response-menu-my_menu-flex:hover .response-menu-my_menu-element{
        color: #666;
        margin: 10px 0 10px 10px;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }


}



@media (max-width: 900px){
    .navbar-logo{
        font-size: 30px;
    }

    .navbar-logo-III{
        width: 26px;
        height: 25px;
    }
    
    .navbar-logo-III div{
        width: 5px;
        height: 25px;
        background: #f2f2f2;
    }


}