@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.study-next-prevois-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.study-next-prevois-buttons-button{
    padding: 10px;
    text-decoration: none;
    
    border-radius: 10px 4px 10px 4px;
    border: 1px solid #222;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    color: #222;
    transition: 0.1s;
}


.study-next-prevois-buttons-button:hover{
    background-color: #111;
    color: #ddd;
    transition: 0.2s;
    border: 1px solid #ddd;
}

@media (max-width: 700px){
    .study-next-prevois-buttons-button{
        padding: 6px;
        font-size: 14px;
    }
}
